a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.login-signup-form {
    border: 1px solid cadetblue;
    border-radius: 0.5em;
    padding: 1em;
}

.cart {
    background: #fff;
    border-radius: 0.2em;
    #i-cart {
        display: block;
        margin: 0 auto;
        color: #343a40;
    }
}